html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
}
main ::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.page-1 {
    /* -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../public/page1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-2 {
    background: #e6eded;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

.page-3 {
    background: #e6eded;
    color: black;
    letter-spacing: 2px;
    background: url('../../public/bg1.jpg');
}

.page-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../../public/foto14.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.transition {
    transition: width .3s ease-in;
    width: 100%;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

/* @media screen and (max-width: 400px) {
    .front {
        height: 90vh;
    }
  }

@media screen and (min-width: 400px) {
    .front {
        height: 100vh;
    }
  } */

.back {
    z-index: 0;
}

.img-style {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.img-collect {
    display: grid;
    animation: fadeIn 4s;
}

@media screen and (max-width: 400px) {
    .img-collect {
        grid-template-rows: repeat(3, 165px);
    }
  }

  @media screen and (min-width: 400px) {
    .img-collect {
        grid-template-rows: repeat(3, 250px);
    }
  }

.text-animation {
    animation: fadeIn 4s;
}